#The Home page with HTML structure removed. GREEN
#app/views/static_pages/home.html.erb
<% provide(:title, "Home") %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://gorails.com">Ruby on Rails Tutorial</a>
  sample application.
</p>